body
{ 
background-image:url('../images/minehell.png');
background-color:black;
background-repeat:no-repeat;
background-attachment:fixed;
color:white;
font-size:75%;
}

.ui-accordion-content-active
{
opacity:0.65;filter:alpha(opacity=65)

}

.ui-accordion-header
{
color:yellow;
font-size:medium;
}
a{
color:yellow;
text-decoration:none;
}
.admins
{
color:red
}
#grapher
{
cursor: crosshair;
}
.itemName
{
color:red;
font-weight:bold;
}
.serverStop,.serverStart
{
color:white;
position:relative;
left:20px;
font-size:2.0em;
}

.serverStart2
{
color:white;
font-size:1.5em;
}

.hide{
display:none;
}
.logFont
{
font-size:small;
}

.severeError
{
color:red;
font-size:110%;
font-weight:bold;
}

.warningError
{
color:#FF8000;
}

.heyLogging
{
color:#FFFF00;
}

.runecraft
{
color:#9DC230;
}

.serverUptimeBad
{
position:relative;
left:40px;
color:#777777;
font-size:1.5em;
font-weight:bold;
}
.serverUptime
{
position:relative;
left:40px;
font-size:1.5em;
color:#777777;
}
.worldStart
{
color:#777777;
}
.fluff
{
color:#000000;
}

.userLogin{
font-size:1.25em;
color:#286FE0;
}

.userLogout{
font-size:1.25em;
color:#4C82D9;
}

.consoleChat{
color:#30D1D1;
font-weight:bold;
}

.userChat{
color:#30D1D1;
}
.consoleMsg{
color:#37BA2B;
}

#uptimeDialog{
display:none;
position:absolute;
top:25px;
right:25px;
color:#37BA2B;
}
