body
{ 
background-image:url('minehell.png');
background-color:black;
background-repeat:no-repeat;
background-attachment:fixed;
color:white
}


.ui-accordion-content-active
{
background-color:#111111;
opacity:0.75;filter:alpha(opacity=75)

}
.ui-accordian
{
background-color:#444444;
}

.ui-accordion-header
{
color:yellow;
font-size:xx-large;
}
a{
color:yellow;
text-decoration:none;
}
.admins
{
color:red
}

.serverStop,.serverStart
{
color:white;
font-size:x-large;
position:relative;
left:20px;
}

.severeError
{
color:red;
font-size:110%;
font-weight:bold;
}

.warningError
{
color:orange;
}

.heyLogging
{
color:yellow;
}

.runecraft
{
color:#9DC230;
}

.serverUptimeBad
{
position:relative;
left:40px;
color:#777777;
font-size:x-large;
font-weight:bold;
}
.serverUptime
{
position:relative;
left:40px;
color:#777777;
font-size:x-large;
}
.worldStart
{
color:#777777;
}

.userLogin{
font-size:large;
color:#286FE0;
}

.userLogout{
font-size:large;
color:#4C82D9;
}

.consoleChat{
color:#30D1D1;
font-weight:bold;
}

.userChat{
color:#30D1D1;
}
.consoleMsg{
color:#37BA2B;
}

