body
{ 
background-color:black;
color:white
}

.admins
{
color:red
}

.serverStop,.serverStart
{
color:white;
font-size:x-large;
position:relative;
left:20px;
}

.severeError
{
color:red;
font-size:110%;
font-weight:bold;
}

.warningError
{
color:orange;
}

.heyLogging
{
color:yellow;
}
.serverUptimeBad
{
position:relative;
left:40px;
color:#777777;
font-size:x-large;
font-weight:bold;
}
.serverUptime
{
position:relative;
left:40px;
color:#777777;
font-size:x-large;
}

.userLogin{
font-size:large;
color:#286FE0;
}

.userLogout{
font-size:large;
color:#4C82D9;
}

